
/* http://www.paletton.com/#uid=13n080kqFA-22+PlDULyoqusrey */

:root {
  --color-primary-1: #2194AF;
  --color-primary-2: #EFFBFE;
  --color-primary-3: #B5F1FF; 
  --color-primary-4: #036A83;
  --color-primary-5: #0A3C48;
}
  
.hiddenItem {
  visibility: hidden;
  
}


.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: var(--color-primary-5);
  color: white;
  overflow: auto;
}

.App-title {
  font-size: 1.5em;
  margin: 1em auto;
}

.App-intro {
  font-size: large;
}
