
/* http://www.paletton.com/#uid=13n080kqFA-22+PlDULyoqusrey */

:root {
  --color-primary-1: #2194AF;
  --color-primary-2: #EFFBFE;
  --color-primary-3: #B5F1FF; 
  --color-primary-4: #036A83;
  --color-primary-5: #0A3C48;
}
  
.hiddenItem {
  visibility: hidden;
}

.mainGrid {
  width: 80%;
    margin: 10px auto auto;
  padding: 2%;
  border-radius: 5px;
  background-color: var(--color-primary-1);
}

.main-grid-cell {
  padding: 1%;
  border-radius: 5px;
  background-color: var(--color-primary-4);
}

.sub-grid-cell{
  border-radius: 5px;
  background-color: var(--color-primary-3);
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--color-primary-5);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
