body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  min-height: 100vh;
  overflow: hidden;
  font-size: calc(12px + (25 - 12) * ((100vw - 300px) / (1600 - 300))) !important;
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300))) !important;
}

